body{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(to right,#ff758c,#ff7eb3);
    color:white;
    overflow-x:hidden;
    margin:0;
}

/* First page */
.container{
    margin-top:50px;
}

.mainPic{
    width:250px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
}

/* YES / NO buttons */
button{
    padding:15px 30px;
    font-size:20px;
    border:none;
    border-radius:1
